@tailwind base;
@tailwind components;
@tailwind utilities;

.lightTheme {
  @apply bg-stone-200 text-stone-800;
}

.darkTheme {
  @apply bg-stone-800 text-stone-200;
}

.mainContent {
  @apply pt-20 px-2 lg:px-24 xl:px-40 2xl:px-80 mb-24;
}

input,
textarea {
  @apply w-full p-2 rounded-md;
}

h1 {
  @apply text-3xl text-center py-1;
}

h2 {
  @apply text-2xl py-1;
}

h3 {
  @apply text-xl py-1;
}

.navLink {
  @apply hover:cursor-pointer hover:text-stone-800 transition-all ease-in-out;
}

.navLinkWhite {
  @apply hover:cursor-pointer hover:text-stone-200 transition-all ease-in-out;
}

.soMeIcon {
  @apply hover:cursor-pointer hover:scale-105 stroke-1;
}

p,
li {
  @apply text-lg;
}

.album {
  @apply w-full;
}

.single {
  @apply w-full;
}

.button {
  @apply md:hover:bg-primary md:hover:text-stone-200 rounded-full border border-primary px-4 py-2 hover:cursor-pointer transition-all ease-in-out;
}
